
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul style="margin-left:auto; margin-right:auto; width:700px; text-align:center;">

    <li class="list">
        <a href="/Issue/Index">
        <div class="block">
            <img src="~/Content/img/svedenia.png" class="img"/>
            <div>Выдача сведений</div>
         </div>
        </a>
    </li>
    <li class="list">
        <a href="/Update/Index">
            <div class="block">
                <img src="~/Content/img/update.png" class="img" />
                <div>
                    <span>Cредства обновления данных</span>
                </div>
            </div>
        </a>
    </li>
</ul>

