@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center;">Data output</h1>
<ul style="margin-left:auto; margin-right:auto; width:700px; text-align:center;">
    <li class="list">
        <a href="/Output/Otdels">
            <div class="block">
                <img src="~/Content/img/projects.png" class="img" title="Information about projects" />
                <div>Information about projects</div>
            </div>
        </a>
    </li>
    <li class="list">
        <a href="/Output/Employee">
            <div class="block">
                <img src="~/Content/img/emloye.png" class="img" title="Information about employees" />
                <div>Information about employees</div>
            </div>
        </a>
    </li>
</ul>

