<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Style.css" rel="stylesheet">
    @RenderSection("Scripts", false)
    <title>Market</title>
</head>
<body>
    <a href="/Home/Index" style="position:absolute; top:5px; right:5px;">
        <img src="~/Content/img/home.png" title="На начальную страницу" />
    </a>
    @RenderBody()
</body>
</html>
