
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
}


<div id="wrapper">
    <div class="cover"></div>
    <div class="modal">
        <div class="content">
            <h2 id="ActionHead">Add</h2>
            <form id="ChangeForm" method="post">
                <div id="ActionForm"></div>
                <div id="SendActionForm"></div>
            </form>
        </div>
    </div>



    <div style="text-align:center; margin: 0 auto;">
        <h1>
            Table selection
        </h1>
        <select name="update" id="update">
            <option value="None"></option>
            @{
                foreach (var item in ViewBag.List)
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
    </div>
    <div>
        <table id="table"></table>
        <div id="add"></div>
    </div>
</div>
